<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="min_page">
        <% @pets.each do |pet| %>
            <div class="col-xs-12 col-sm-6">
              <div class="text-center">
                <div class="img-box">
                  <%= image_tag pet.picture.url(:medium) %>
                  <div class="over-pic">
                    <p><em><%= pet.kind.capitalize %></em></p>
                    <h2><%= link_to pet.name, pet_path(pet) %></h2>
                    <p><%= pet.city.capitalize %></p>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </div>

    </div>
    <div class="col-xs-12 col-sm-4">
      <div id="map" class="map-big">
      </div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @markers.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    });
  <% end %>
<% end %>