<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="product-box">
      <div class="row">
        <div class="col-xs-12 col-sm-5">
          <%= image_tag @pet.picture.url(:medium) %>
          <h3><em><%= @pet.name %> lives in</em></h3>
          <div id="map" style="width: 100%; height: 200px;">

          </div>
          <h3><em>Can you rock it?</em></h3>

        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="padding-left">
            <h3><em>Let's meet...</em></h3>
          </div>
          <div class="text-center">
            <h2><%= @pet.name %></h2>
            <p><%= @pet.city.capitalize %></p>
            <div class="width-90">
              <p><em><%= @pet.description %></em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="form-box text-center">
      <h2>Rock this pet</h2>
      <!-- Add an exception if the owner wants to book his pets (stupid) -->
      <% if current_user.email == @pet.owner.email %>
        <p>You can't rock your own pet, of course</p>
      <% else %>
        <%= render 'bookings/form' %>
      <% end %>
    </div>
    <div>
      <% if flash[:availibility] %>
        <div class="availibility"><%= flash[:availibility] %></div>
      <% end %>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function(){
        markers = handler.addMarkers(<%= raw @marker.to_json %>);
        handler.bounds.extendWith(markers);
      handler.getMap().setZoom(zoom_level);
      });
    });
  <% end %>
<% end %>
