<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1>Update your pet!</h1>
      </div>
      <div class="width-90">
        <%= simple_form_for @pet, url: account_pet_path(@pet) do |f| %>
          <%= f.input :name, label: 'Name of pet' %>
          <%= f.input :street %>
          <%= f.input :zipcode %>
          <%= f.input :city %>
          <%= f.input :description, as: :text %>
          <%= f.input :price %>
          <%= f.submit 'Save changes', class: "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>