<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="text-center">
        <h1>Add your pet!</h1>
      </div>
      <div class="width-90">
        <%= simple_form_for(@pet, html: {multipart: true}, url: account_pets_path) do |f| %>
          <%= f.input :name, label: 'Name of pet' %>
          <%= f.input :street %>
          <%= f.input :zipcode %>
          <%= f.input :city %>
          <%= f.input :kind %>
          <%= f.input :description, as: :text %>
          <%= f.input :donate %>
          <%= f.input :picture %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>