<h1>My pet nurses</h1>


<br>


<% current_user.pets.each do |pet| %>
  <% pet.bookings.each do |booking|%>

    <% render "booking_card", booking: booking%>

    <% if booking.accept %>
      <p><%= booking.walker.name %> will take care of <%= booking.pet.name %></p>
        <%= image_tag booking.pet.picture.url(:thumb) %>

    <% else %>
      <p><%= booking.walker.name %> wants to take care of <%= booking.pet.name %></p>
      <%= simple_form_for booking, url: account_booking_path(booking) do |f| %>
        <input type="hidden" value="true" name="booking[accept]">
        <%= f.submit "Accept", class: "btn btn-success" %>
      <% end %>
    <% end %>

  <% end %>


<% end %>

