<% if user_signed_in? %>
  <li><%= link_to 'My account', account_path %></li>
  <li><%= link_to 'My pets', account_pets_path %></li>
  <li><%= link_to 'My pet nurses', account_bookings_path %></li>
  <li><%= link_to 'Taking care', bookings_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %></li>
<% else %>
  <li><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></li>
  <li><%= link_to "Sign in with Email", new_user_registration_path %></li>
<% end %>
