<div class="container-fluid">
  <div class="row">
    <div class="col col-xs-12">
      <div class="padded text-center" id="banner">
        <h1>Rock my pet !</h1>
      </div>
      <div class="text-center bg-greyish small-padded">
        <%= render 'autocompleteform' %>
      </div>
      <div class="small-padded">
        <% Pet.last(9).each do |pet| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="text-center">
              <div class="img-box">
                <%= image_tag pet.picture.url(:medium) %>
                <div class="over-pic">
                  <p><em><%= pet.kind.capitalize %></em></p>
                  <h2><%= link_to pet.name, pet_path(pet) %></h2>
                  <p><%= pet.city.capitalize %></p>

                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<% content_for(:after_js) do %>
  <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCwRklqUOQtOLJ0NX52lfNotkEd2K8cWf8">
  </script>
  <%= javascript_tag do %>
    $(document).on('ready', function() {
      google.maps.event.addDomListener(window, 'load', function() {
        initializeAutocomplete('user_input_autocomplete_address');
      });
    });
  <% end %>
<% end %>