<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="product-box">
        <div class="row">
          <div class="col-xs-12 col-sm-5">
              <h1><%= current_user.name %></h1>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-5">
            <div class="img-box">
              <% if current_user.provider == 'facebook' %>
                <%= image_tag "http://graph.facebook.com/#{current_user.uid}/picture?type=large" %>
              <% elsif current_user.picture_file_name %>
                <%= image_tag current_user.picture.url(:medium) %>
              <% else %>
                <%= image_tag 'logo.svg' %>
              <% end %>
            </div>
          </div>
          <div class="col-xs-12 col-sm-5">
            <br>
            <p>
              <%= link_to edit_account_path, {class: "padded"} do %>
                <span>Edit your profile</span><i class="fa fa-pencil i-padded"></i>
              <% end %>
            </p>
            <p><%= link_to "Settings", "#" %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="form-box min-height">
        <div class="text-center">
          <h1>Links</h1>
          <br>
        </div>
          <ul class="list-unstyled">
            <li><h3><%= link_to "My pets", account_pets_path %></h3></li>
            <li><h3><%= link_to "My pet nurses", account_bookings_path %></h3></li>
            <li><h3><%= link_to "Taking care", bookings_path %></h3></li>
          </ul>
      </div>
    </div>
  </div>
</div>


